body{
    background-color:whitesmoke;
    margin:0;
    padding:0;
}
h1,h2,h3 {
    margin: 10px;
    font-family: monospace;
    border-bottom: solid 1px black;
}
p,a,ul,li,footer{
    margin:10px;
    font-family: monospace;
    font-size:20px;
}
ul{
    word-wrap: break-word;
    padding-left: 10px;
}
footer{
    margin:0;
    padding: 10px;
    position:relative;
    bottom:0;
    background-color:lightgray;
}
input{
    font-size:20px;
}
code{
    background-color:lightgray;
}
.docs{
    word-wrap: break-word;
}
/*Shamless css stealing*/
.submit {
    background-color: orange;
    border-radius: 1px;
    cursor: pointer;
    color: black;
    font-family: monospace;
    font-size: 20px;
    padding: 3px 20px;
    text-decoration: none;
    vertical-align:bottom;
    border:none;
}
.submit:hover {
    background-color:orangered;
}
.submit:active {
    position:relative;
    top:1px;
}